<ion-router-outlet>
    <ion-header *ngIf="platform.is('android')">
        <ion-toolbar>
          <ion-title>Android View</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-header *ngIf="platform.is('ios')">
        <ion-toolbar>
          <ion-title>iOS View</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-header *ngIf="platform.is('desktop')">
        <ion-toolbar>
          <ion-title>Web View</ion-title>
        </ion-toolbar>
      </ion-header>
</ion-router-outlet>
